{{ template "header" . }}
{{ template "sidebar" . }}
<main>
<div class="container">
    <br>
    <div class="row valign-wrapper">
        <div class="col s6 center-align">
            <img src='{{ static "images/404_transparent.png"}}' class="responsive-img">
        </div>
        <div class="col s6 center-align">
            <h2>Nothing found!</h2>
            <h4>There was a problem with the recipe it was either not found or not loaded</h4>
            <h4>Click on Import recipe to import it again!</h4>
        </div>
    </div>
</div>
</main>
{{ template "footer" . }}