{{ template "header" . }}
{{ template "sidebar" . }}
<main>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>{{.Subtitle}}</h2>
            </div>
            <br>
        </div>
        <div class="row">
            <div class="col s4">
                <h4 class="center-align">Upcoming hop: </h4>
            </div>
            <div class="col s4">
                <h4 class="center-align"><i class="material-icons">apps</i>Name: {{.Ingredient.Name}}</h4>
            </div>
            <div class="col s4">
                <h4 class="center-align"><i class="material-icons">fitness_center</i> Amount: {{.Ingredient.Amount}} g
                </h4>
            </div>
            <br>
        </div>
        <div class="row">
            <div class="col s6">
                <h4 class="center-align" id="timer">Put it in: <span id="time"></span> minutes </h4>
            </div>
            <div class="col s6">
                <a class="waves-effect waves-light btn-large red" id="stop_timer">Stop</a>
            </div>
        </div>
        <div class="row" id="hop_form" style="display: none;">
            <form action='{{ reverse "postHopping" .RecipeID .IngrNum }}' method="post" class="col s12"
                enctype="multipart/form-data">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">fitness_center</i>
                        <input type="text" value="{{.Ingredient.Amount}}" id="real_amount" name="real_amount">
                        <label for="real_amount">Real Amount</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">timer</i>
                        <input type="text" value="{{.Ingredient.Duration}}" id="real_duration" name="real_duration">
                        <label for="real_duration">Real Duration</label>
                    </div>
                    {{ if .Ingredient.IsHop }}
                    <div class="input-field col s12">
                        <i class="material-icons prefix">colorize</i>
                        <input type="text" value="{{.Ingredient.Alpha}}" id="real_alpha" name="real_alpha">
                        <label for="real_alpha">Alpha</label>
                    </div>
                    {{ end }}
                    <div class="input-field col s12">
                        <i class="material-icons prefix">edit_note</i>
                        <textarea id="notes1" class="materialize-textarea" name="notes"></textarea>
                        <label for="notes1">Notes</label>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action"
                        id="send_hop">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>
<script>
    function countdown() {
        var cookingTime = '{{.TotalCookingTime}}' - '{{.Ingredient.Duration}}';
        startTimer(cookingTime, 'time', function () {
            document.getElementById("timer").style.display = "none";
            show("hop_form")
            sendNotification(
                "Time to add {{.Ingredient.Name}} which will cook for {{.Ingredient.Duration}} minutes",
                "Add {{.Ingredient.Name}}"
            )
        });
    }
    window.onload = countdown;
    document.getElementById("stop_timer").onclick = function () {
        stopTimer(function() {
            show("hop_form");
        })
    }
</script>
{{ template "footer" . }}