{{ template "header" . }}
{{ template "sidebar" . }}
<main>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>{{.Subtitle}}</h2>
            </div>
            <br>
        </div>
        <div class="row">
            <div class="col s6">
                <h4 class="center-align" id="timer">Let it boil for: <span id="time"></span> minutes </h4>
            </div>
            <div class="col s6">
                <a class="waves-effect waves-light btn-large red" id="stop_timer">Stop</a>
            </div>
        </div>
        <div class="row" id="hop_form" style="display: none;">
            <form action='{{ reverse "postHopping" .RecipeID .IngrNum }}' method="post" class="col s12"
                enctype="multipart/form-data">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">timer</i>
                        <input type="text" value="{{.BoilingTime}}" id="real_duration" name="real_duration">
                        <label for="real_duration">Real Duration</label>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action" id="send_hop">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>
{{ template "timer" .}}
<script>
    let stopped = "{{.Stopped}}" === "true";
    let startClicked = true; // Start the timer straight away
    let url = '{{ reverse "getHopTimestamp" .RecipeID .IngrNum }}';
    let stopUrl = '{{ reverse "postHoppingStopTimer" .RecipeID .IngrNum }}';
    let durationUrl = '{{ reverse "getHopRealDuration" .RecipeID .IngrNum }}';
    function done(realDur) {
        document.getElementById("timer").style.display = "none";
        show("hop_form");
        realDuration = document.getElementById("real_duration");
        realDuration.value = realDur;
    }
    function start() {
        startTimer(url, stopUrl, durationUrl, "time", done);
    }
    function stop() {
        stopTimer(stopUrl, durationUrl, done, true);
    }
    setUpTimer(null, start, "stop_timer", stop, stopped, startClicked, done, durationUrl);
</script>
{{ template "footer_new" . }}