{{ template "header" . }}
{{ template "sidebar" . }}
<main>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4>{{.Subtitle}}</h4>
            </div>
            <br>
        </div>
        <div class="row">
            {{ $id := urlEncode .RecipeID }}
            <form class="col s12" action='{{ reverse "postSetBS" $id .NextAction }}' method="post"
                enctype="multipart/form-data">
                <div class="row">
                    <div class="input-field col s12">
                        <select name="bs" id="bs_select">
                            <option value="undefined" selected>No system</option>
                            {{ range $bs := .BrewingSystems }}
                            <option value="{{ $bs }}">{{ $bs }}</option>
                            {{ end }}
                        </select>
                        <label>Choose Brewing System</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light green" type="submit" id="send_form_bs">Select
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        M.FormSelect.init(elems, {});
    });
</script>
{{ template "footer" . }}