{{ template "header" . }}
{{ template "sidebar" . }}
<main>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>{{.Subtitle}}</h2>
            </div>
            <br>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <h4>1. Transfer the mash to the bucket at {{.MashOutTemp}} °C</h4>
            </div>
            <div class="col s12 center-align">
                <a class="waves-effect waves-light btn" id="start">Done?</a>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align" id="ruhe" style="display: none;">
                <h4>2. Let the mash rest for {{.RestTime}} minutes</h4>
                <h4 id="time" style="display: none;">00:00</h4>
            </div>
            <div class="col s12 center-align">
                <a class="waves-effect waves-light btn red" id="stop" style="display: none;">Stop</a>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align" id="instructions" style="display: none;">
                <h4>Now proceed with lautern. Remember:</h4>
                <ul>
                    <li>Give the bucket a little angle with a book or something</li>
                    <li>Position the einkocher below</li>
                    {{ range $hop := .Hops }}
                    {{ if $hop.Vorderwuerze }}
                    <li>Put {{$hop.Amount}} g of {{$hop.Name}} hops in the einkocher</li>
                    {{ end }}
                    {{ end }}
                    <li>First couple of liters go back in until its clearer</li>
                    <li>Once done, start with the nachguss</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <form action='{{ reverse "postLautern" .RecipeID }}' method="post" class="col s12"
                enctype="multipart/form-data" id="notes_form" style="display: none;">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">timer</i>
                        <input type="text" id="real_duration" name="real_duration">
                        <label for="real_duration">Real Duration</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">edit_note</i>
                        <textarea id="notes1" class="materialize-textarea" name="notes"></textarea>
                        <label for="notes1">Notes</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</main>
{{ template "timer" .}}
<script>
    let stopped = "{{.Stopped}}" === "true";
    let startClicked = "{{.StartClickedOnce}}" === "true";
    let url = '{{ reverse "getLauternTimestamp" .RecipeID }}';
    let stopUrl = '{{ reverse "postLauternStopTimer" .RecipeID }}';
    let durationUrl = '{{ reverse "getLauternDuration" .RecipeID }}';
    function done(realDur) {
        const timerElement = document.getElementById("time");
        timerElement.textContent = "Done!";
        show("instructions");
        show("notes_form");
        realDuration = document.getElementById("real_duration");
        realDuration.value = realDur;
    }
    function start() {
        const startButton = document.getElementById("start");
        startButton.style.display = "none";
        show("ruhe");
        show("time");
        show("stop");
        startTimer(url, stopUrl, durationUrl, "time", done);
    }
    function stop() {
        stopTimer(stopUrl, durationUrl, done, true);
    }
    setUpTimer("start", start, "stop", stop, stopped, startClicked, done, durationUrl);
</script>
{{ template "footer" . }}