{{ template "header" . }}
{{ template "sidebar" . }}
<main>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>{{.Subtitle}}</h2>
            </div>
            <br>
        </div>
        <div class="row">
            <div class="col s6">
                <h4 class="center-align"><i class="material-icons">thermostat</i>Temp: {{.Rast.Temperature}} °C</h4>
            </div>
            <div class="col s6">
                <h4 class="center-align"><i class="material-icons">timer</i> Duration: {{.Rast.Duration}} min </h4>
            </div>
            <br>
            <div class="col s12">
                <div class="center-align">
                    <h5>Don't forget to prepare {{.Nachguss}} l of water at 78°C for the nachguss!</h5>
                </div>
            </div>
            <div class="col s12">
                <div class="center-align">
                    After this, {{ len .MissingRasts }} rasts missing:
                    <a class="modal-trigger" href="#modal1">More info <i class="material-icons">info</i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s4">
                <div class="center-align">
                    <a class="waves-effect waves-light btn-large" id="start_timer">Start {{.Rast.Duration}} minutes</a>
                </div>
            </div>
            <div class="col s4">
                <div class="center-align">
                    <a class="waves-effect waves-light btn-large" id="stop_timer">Stop</a>
                </div>
            </div>
            <div class="col s4">
                <h5 class="center-align" id="time">00:00</h5>
            </div>
        </div>
        <div class="row">
            <form action='{{ reverse "postRasts" .RecipeID .NextRast }}' method="post" class="col s12"
                enctype="multipart/form-data">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">thermostat</i>
                        <input type="text" value="{{.Rast.Temperature}}" id="real_temp" name="real_temp">
                        <label for="real_temp">Real Temperature</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">timer</i>
                        <input type="text" value="{{.Rast.Duration}}" id="real_duration" name="real_duration">
                        <label for="real_duration">Real Duration</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">edit_note</i>
                        <textarea id="notes1" class="materialize-textarea" name="notes"></textarea>
                        <label for="notes1">Notes</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action" style="display: none;"
                    id="send_rast">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
        <div id="modal1" class="modal bottom-sheet">
            <div class="modal-content">
                {{ if eq (len .MissingRasts) 0 }}
                <h4>No more rasts missing!</h4>
                {{ else }}
                <h4>Missing Rasts:</h4>
                <p>There are {{ len .MissingRasts }} rasts missing, which in total will take minimum
                    {{.MissingRastsDuration}} minutes.</p>
                <br>
                <ul class="collection">
                    {{ range $i, $rast := .MissingRasts }}
                    <li class="collection-item">
                        <div>
                            <h6><b>Rast {{$i}}: {{$rast.Temperature}} °C</b></h6>
                            <p>Duration: {{$rast.Duration}} minutes</p>
                        </div>
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    </div>
</main>
{{ template "timer" .}}
<script>
    let stopped = "{{.Stopped}}" === "true";
    let startClicked = "{{.StartClickedOnce}}" === "true";
    let url = '{{ reverse "getMashRastTimestamp" .RecipeID .RastNumber }}';
    let stopUrl = '{{ reverse "postMashRastStopTimer" .RecipeID .RastNumber }}';
    let durationUrl = '{{ reverse "getMashRastDuration" .RecipeID .RastNumber }}';
    function done(realDur) {
        const timerElement = document.getElementById("time");
        timerElement.textContent = "Done!";
        realDuration = document.getElementById("real_duration");
        realDuration.value = realDur;
        show("send_rast");
    }
    function start() {
        startTimer(url, stopUrl, durationUrl, "time", done);
    }
    function stop() {
        stopTimer(stopUrl, durationUrl, done, true);
    }
    setUpTimer("start_timer", start, "stop_timer", stop, stopped, startClicked, done, durationUrl);
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});
    });
</script>
{{ template "footer" . }}