{{ template "header" . }}
{{ template "sidebar" . }}
<main>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>{{.Subtitle}}</h2>
            </div>
            <br>
        </div>
        <div class="row">
            <div class="col s12">
                <h4>Dont forget to add the following ingredients:</h4>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="row">
                    {{ if .IsSet }}
                    {{ if .IsDone }}
                    <form class="col s12" action='{{ reverse "postSecondaryFermentationEnd" .RecipeID }}' method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">access_time</i>
                                <input type="text" id="days" name="days">
                                <label for="days">Days</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">edit_note</i>
                                <textarea id="notes1" class="materialize-textarea" name="notes"></textarea>
                                <label for="notes1">Notes</label>
                            </div>
                            <button class="btn waves-effect waves-light" type="submit" name="action" id="send_form">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                    {{ else }}
                    <div class="row valign-wrapper">
                        <div class="col s6">
                            <h5>Notification set. Missing time: {{.Missing}}</h5>
                        </div>
                        <div class="col s6">
                            <!-- Refresh button to update the missing time. -->
                            <button class="btn waves-effect waves-light" type="button" onclick="window.location.reload();">Refresh
                                <i class="material-icons right">refresh</i>
                            </button>
                        </div>
                    </div>
                    {{ end }}
                    {{ else}}
                    <form class="col s12" action='{{ reverse "postSecondaryFermentationStart" .RecipeID }}' method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">notifications_active</i>
                                <input type="text" id="days" name="notification_time" value="{{.MinDays}}">
                                <label for="days">Notification in:</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">access_time</i>
                                <select name="time_unit" id="unit" value="days">
                                    <option value="days" selected>Days</option>
                                    <option value="seconds">Seconds</option>
                                </select>
                                <label for="unit">Time unit</label>
                            </div>
                            <button class="btn waves-effect waves-light" type="submit" name="action" id="send_form">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
    });
</script>
{{ template "footer" . }}