{{ template "header" . }}
{{ template "sidebar" . }}
<main>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>{{.Subtitle}}</h2>
            </div>
            <br>
        </div>
        {{ if not .Stats }}
        <div class="row">
            <div class="col s12">
                <p>No recipes found!</p>
            </div>
        </div>
    </div>
</main>
{{ else }}
<div class="row">
    <div class="col s12">
        <canvas id="myChart"></canvas>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <p>{{ .Stats | toJSON }}</p>
    </div>
</div>
</div>
</main>
{{ template "stats_dashboard" . }}
{{ end }}
{{ template "footer" . }}