{{ template "header" . }}
{{ template "sidebar" . }}
<main>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>{{.Subtitle}}</h2>
            </div>
            <br>
        </div>
        <div class="row">
            <div class="col s6">
                <a class="waves-effect waves-light btn modal-trigger" href="#modal1"><i
                        class="material-icons left">add_circle</i>Add
                    stats from past
                    recipe</a>
            </div>
            <div class="col s6">
                <a class="waves-effect waves-light btn red modal-trigger" href="#modal2"><i
                        class="material-icons left">delete_forever</i>
                    Delete stats</a>
            </div>
        </div>
        <div id="modal1" class="modal">
            <div class="row modal-content">
                <form class="col s12" action='{{ reverse "postAddExtStat" }}' method="post"
                    enctype="multipart/form-data">
                    <div class="row center-align">
                        <h4>Add stats</h4>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">book</i>
                            <input type="text" id="name" name="name">
                            <label for="name">Name of the recipe</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">gps_fixed</i>
                            <input type="text" id="efficiency" name="efficiency">
                            <label for="name">Efficiency (%)</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">hot_tub</i>
                            <input type="text" id="evaporation" name="evaporation">
                            <label for="name">Evaporation (%)</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">date_range</i>
                            <input type="text" class="datepicker" id="finished" name="finished">
                            <label for="finished">Finished Date</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect red btn">Cancel</a>
                        <button class="btn waves-effect waves-light modal-close" type="submit" name="action"
                            id="send_form">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div id="modal2" class="modal modal-large">
            <div class="row modal-content">
                <h5>Current recipe stats</h5>
                <form class="col s12" action='{{ reverse "deleteStats" }}' method="post" enctype="multipart/form-data">
                    <div class="input-field col s12">
                        <select name="recipe_title" id="recipe_title_select">
                            <option value="" disabled selected>No recipe selected</option>
                            {{ range $stat := .Stats }}
                            <option value="{{ $stat.RecipeName }}">{{ $stat.RecipeName }}</option>
                            {{ end }}
                        </select>
                        <label>Choose Recipe</label>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect btn">Cancel</a>
                        <button class="btn waves-effect waves-light modal-close red" type="submit" name="action2"
                            id="send_form_delete">Delete
                            <i class="material-icons right">delete_forever</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <form class="col s12" action='{{ reverse "postStatsSetBS" }}' method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="input-field col s11">
                        <select name="bs" id="bs_select">
                            <option value="undefined">undefined</option>
                            {{ range $bs := .BrewingSystems }}
                            <option value="{{ $bs }}">{{ $bs }}</option>
                            {{ end }}
                        </select>
                        <label>Choose Brewing System</label>
                    </div>
                    <button class="btn waves-effect waves-light col s1" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
        {{ if eq .BS "" }}
    </div>
</main>
{{ else }}
{{ if not .Stats }}
<div class="row">
    <div class="col s12">
        <p>No recipes found!</p>
    </div>
</div>
</div>
</main>
{{ else }}
<div class="row">
    <div class="col s12">
        <h5 class="center-align">Stats for system: <b>{{.BS}}</b></h5>
    </div>
</div>
<div class="row">
    <div class="col s6">
        <div class="card small">
            <div class="card-content">
                <span class="card-title">Efficiency</span>
                <div class="row">
                    <div class="col s8">
                        <canvas id="efficiencyChart"></canvas>
                    </div>
                    <div class="col s4 center-align">
                        <div class="kpi-card">
                            <h2 class="kpi-value"><span id="efficiencyAvg"></span>%</h2>
                            <p class="kpi-label">Average</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s6">
        <div class="card small">
            <div class="card-content">
                <span class="card-title">Evaporation</span>
                <div class="row">
                    <div class="col s8">
                        <canvas id="evaporationChart"></canvas>
                    </div>
                    <div class="col s4 center-align">
                        <div class="kpi-card">
                            <h2 class="kpi-value"><span id="evaporationAvg"></span>%/h</h2>
                            <p class="kpi-label">Average</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</main>
{{ template "stats_dashboard" . }}
{{ end }}
{{ end }}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var modal1 = document.querySelectorAll('#modal1');
        var modal2 = document.querySelectorAll('#modal2');
        var options = {};
        M.Modal.init(modal1, options);
        M.Modal.init(modal2, {
            onOpenStart: function () {
                var selectElems = document.querySelectorAll('#modal2 select');
                M.FormSelect.init(selectElems);
            }
        });
        var elems2 = document.querySelectorAll('.datepicker');
        var options2 = {
            autoClose: true,
            format: 'yyyy-mm-dd'
        };
        var instances = M.Datepicker.init(elems2, options2);
        var elems3 = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems3, options);
    });
</script>
{{ template "footer" . }}