{{ define "stats_dashboard" }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    window.Stats = {{ .Stats | toJSON }};
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var options = {};
        var instances = M.Modal.init(elems, options);
        var elems2 = document.querySelectorAll('.datepicker');
        var options2 = {
            autoClose: true,
            format: 'yyyy-mm-dd'
        };
        var instances = M.Datepicker.init(elems2, options2);
    });
</script>
<script type="text/javascript" src='{{ static "js/stat_dashboard/dashboard.js" }}'></script>
{{ end }}