{{ template "header" . }}
{{ template "sidebar" . }}
<main>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>{{.Subtitle}}</h2>
            </div>
            <br>
        </div>
        <div class="row">
            <div class="col s4">
                <h4 class="center-align">Example timer </h4>
            </div>
            <br>
        </div>
        <div class="row">
            <div class="col s6">
                <h4 class="center-align" id="timer">Missing: <span id="time"></span> minutes </h4>
            </div>
            <div class="col s6">
                <a class="waves-effect waves-light btn-large green" id="start_timer">Start {{.Time}} minutes</a>
            </div>
            <div class="col s6">
                <a class="waves-effect waves-light btn-large red" id="stop_timer">Stop</a>
            </div>
        </div>
    </div>
</main>
<script>
    function countdown() {
        var cookingTime = '{{.Time}}';
        startTimer(cookingTime, 'time', function () {
            document.getElementById("timer").style.display = "none";
        });
    }
    document.getElementById("start_timer").onclick = countdown
    document.getElementById("stop_timer").onclick = function () {
        stopTimer(function() {
            document.getElementById("timer").style.display = "none";
        })
    }
</script>
{{ template "footer" . }}