{{ template "header" . }}
{{ template "sidebar" . }}
<main>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>{{.Subtitle}}</h2>
            </div>
            <br>
        </div>
        <div class="row">
            <div class="col s4">
                <h4 class="center-align">Example timer </h4>
            </div>
            <br>
        </div>
        <div class="row">
            <div class="col s6">
                <h4 class="center-align" id="timer">Missing: <span id="time"></span> minutes </h4>
            </div>
            <div class="col s6">
                <a class="waves-effect waves-light btn-large green" id="start_timer">Start {{.Time}} minutes</a>
            </div>
            <div class="col s6">
                <a class="waves-effect waves-light btn-large red" id="stop_timer">Stop</a>
            </div>
        </div>
    </div>
</main>
<script>
    let endTime;
    let interval2;
    let startClicked;
    let stopped; // This does not work, because when page reloads is 0 every time
    endTime = 0;
    async function getResponse() {
        url = '{{ reverse "getTestTimerTime" }}'
        const response = await axios.get(url)
        return response.data
    }
    function prettyTime(diff) {
        minutes = (diff / 60) | 0;
        seconds = (diff % 60) | 0;
        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;
        return minutes + ":" + seconds;
    }
    async function oe2() {
        if (endTime == 0) {
            console.log("endTime was 0 FETCHING")
            resp = await getResponse();
            endTime = resp.end_timestamp;
            console.log("fetched")
        }
        count();
        interval2 = setInterval(count, 1000)
    }
    function count() {
        console.log("Endtime", endTime);
        now = Math.round(Date.now()/1000);
        console.log("Now", now);
        diff = endTime - now;
        console.log("Missing", diff);
        t = document.getElementById("time");
        if (diff <= 0) {
            stop();
        } else {
            t.textContent = prettyTime(diff); 
        }  
    }
    async function stop() {
        stopped = true;
        clearInterval(interval2);
        t = document.getElementById("time");
        t.textContent = "Done!" 
        url = '{{ reverse "postTestTimerStop" }}'
        const resp = await axios.post(url, {
            "stop": true,
        })
    }
   
    startClicked = "{{.StartClickedOnce}}"
    console.log(startClicked, "clicked")
    async function start() {
        if (!stopped) {
            resp = await getResponse();
            stopped = resp.stopped;
        }
        if (startClicked == "true" && !stopped) {
            oe2()
        }
    }
    document.getElementById("start_timer").onclick = oe2
    document.getElementById("stop_timer").onclick = stop
    window.onload = start
    
</script>
{{ template "footer" . }}